NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1
WARDEN_ISSUER=warden
WARDEN_JWKS_URL=http://localhost:3000/.well-known/jwks.json

# PostgreSQL
DB_HOST=127.0.0.1
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=tomekeeper
DB_PORT=5432
